.buttons{
    justify-content: left;
    padding-bottom: 0;
    border-radius: 10px;
}

.buttons form .button{
    margin-left: 0;
    background-color: rgb(190, 190, 190);
    color: rgb(97, 97, 97);
}

.buttons form .button:hover{
    background-color: rgb(211, 211, 211);
}

.buttons form{
    margin: 0 0 0 0;
}